%nav{class: "navbar navbar-default"}
  .container-fluid
    .navbar-header
    %ul.nav.navbar-nav
      %li
        = link_to root_path do
          = image_tag "logo.png", size: "50x50"
    %ul.nav.navbar-nav.pull-right.devise-links
      - if current_user.blank?
        %li
          = link_to "Registrarse", new_user_registration_path
        %li
          = link_to "Ingresar", new_user_session_path
      - else
        %li
          = link_to "Editar perfil", edit_users_path
        %li
          = link_to "Crear solicitud", new_subscriptions_path
        %li
          = link_to "Salir", destroy_user_session_path, method: :delete