%nav{class: "navbar navbar-default"}
  .container-fluid
    .navbar-header
    %ul.nav.navbar-nav
      %li
        = link_to root_path do
          = image_tag "logo.png", size: "50x50"
    %ul.nav.navbar-nav.pull-right.devise-links
      - if current_user.blank?
        %li
          = link_to t(".sign_up"), new_user_registration_path
        %li
          = link_to t(".sign_in"), new_user_session_path
      - else
        %li
          = link_to t(".edit_profile"), edit_users_path
        %li
          = link_to t(".new_subscription"), new_subscriptions_path
        %li
          = link_to t(".sign_out"), destroy_user_session_path, method: :delete