!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CambiosCursos
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = content_tag :meta, "", name: "viewport", content: "width=devise-width, initial-scale=1"
  %body
    = render "shared/header"
    - if flash[:alert]
      .alert{data: {alert: flash[:alert]}}
    - if flash[:error]
      .error{data: {error: flash[:error]}}
    - if flash[:notice]
      .notice{data: {notice: flash[:notice]}}
    = yield
    = render "shared/footer"
    = javascript_include_tag 'application'
    = yield(:scripts)
